.d-none {
    display: none;
}
.invalid-feedback {
    display: none;
}
.btn.disabled {
    pointer-events: none;
    opacity: 0.65;
}
.navbar-brand img {
    max-height: 40px; /* Set the maximum height of the logo */
    width: auto; /* Maintain aspect ratio */
}